@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

.page {
    position: relative;
    top: 60px;
    left: 250px;
    overflow-x: hidden;
    transition: width 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: red;
    width: calc(100vw - 250px);
    padding-top: 60px;
}